@use "./base.scss";

// put your custom CSS here!
body {
  background: url(images/hrim.png) no-repeat fixed;
  background-size: cover;
  background-position-y: center;
}

@media (max-width: 768px) {
    body {
        background-size: contain; /* or 100% 100% */
    }
}

.mantra_div {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    padding: 1.5rem 1rem 1.5rem 1rem;
    box-shadow: .1rem .1rem .5rem rgba(0, 0, 0, 0.2);
    background: rgb(255, 255, 255);
    margin-bottom: 1rem;
    background: linear-gradient(-7deg, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 240, 1) 35%, rgba(208, 242, 249, 1) 100%);
}

.mantra_devnagri {
    font-family: 'siddhanta';
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--gray);
    line-height: 2rem !important;
    text-shadow: 1px 2px 3px rgb(0 0 0 / 20%);
}

.btn-14 {
    color: var(--dark);
    background: var(--buttonlight);
    z-index: 1;
    border: none;
    padding: 0.4em;
    position: relative;
    font-size: 1em;
    font-weight: 800;
    font-family: 'IBM Plex Mono';
}

.btn-14:before,.btn-14:after {
    content: "";
    z-index: -1;
    border: 2px solid;
    width: 37%;
    height: 94%;
    transition: all .3s;
    position: absolute
}

.btn-14:before {
    border-color: #bf58b4 #00000000 #01010100 #bf58b4;
    top: 0;
    left: 0
}

.btn-14:after {
    border-color: #00000000 #bf58b4 #bf58b4 #93696900;
    bottom: 0;
    right: 0
}

.btn-14:hover:before,.btn-14:hover:after {
    border-color: var(--secondary);
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px var(--secondary),inset 0 0 5px var(--secondary)
}

.fancybutton {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: var(--tertiary);
  box-shadow: 0 5px var(--gray);
}

.fancybutton:hover {
  box-shadow: 0 3px var(--gray);
  top: 1px;
}

.fancybutton:active {
  box-shadow: 0 0 var(--gray);
  top: 5px;
}

.center-header {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 3em 0;
}

.center-text {
    display: flex;
    align-items: center;
    justify-content: center;
}
